# Django
SECRET_KEY=bu-yerga-uzun-tasodifiy-qator-yozing
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1
# HTTPS orqali ishlaganda True qiling (HSTS, SSL redirect, secure cookie)
SECURE_HTTPS=False

# PostgreSQL
DB_NAME=crm
DB_USER=postgres
DB_PASSWORD=parol
DB_HOST=127.0.0.1
DB_PORT=5432
